<h1>Mis Fotos</h1>


   
<% if not @photo_users.empty? %>
  <tbody>
    <% @photo_users.each do |photo_user| %>
      <tr>
        <article class="portrait">
          <a class="th" role="button" aria-label="Thumbnail" href="/photo_users/<%= photo_user.id%>">
            <%= image_tag photo_user.photo, :width=>"200", :height=>"200" if photo_user.present? %>

          </a>
      
         <section class="options">
            <div class="row">
              <div class="large-6 columns">
                  <td><%= link_to 'Edit', edit_photo_user_path(photo_user), :class=>"button" %></td>
              </div>
               <div class="large-6 columns">
                  <td><%= link_to 'Destroy', photo_user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button alert" %></td>
              </div>
            </div>
            </section>
        </article>
      </tr>
    <% end %>
  </tbody>
<% else %>
  <h4>No tienes fotos en tu album, presiona el boton "Agregar Foto" y escoge de tu galeria.</h4>
<% end %>
<br>
<%= will_paginate @photo_users, renderer: BootstrapPagination::Rails %>
<%= link_to 'Agregar Foto', new_photo_user_path, :class=>"button" %>
