<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo_user.user %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @photo_user.photo %>
</p>

<%= link_to 'Edit', edit_photo_user_path(@photo_user) %> |
<%= link_to 'Back', photo_users_path %>
